@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
}

@layer utilities {
    .text-react-color {
        color: #61dafb;
    }
    .text-tensorflow-color {
        color: #ff6f00;
    }
    .border-tensorflow-color {
        border-color: #ff6f00;
    }
    .bg-tensorflow-color {
        background: #ff6f00;
    }
}

.svg-inline--fa.fa-w-16 {
    width: initial;
}